# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit CB AI COINd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/CB AI COIN/CB AI COIN.conf, but keep in mind those explicitly
# specified as arguments in ExecStart= will override those in the
# config file.

[Unit]
Description=CB AI COIN daemon
After=network.target

[Service]
ExecStart=/usr/bin/CB AI COINd -daemon \
                            -pid=/run/CB AI COINd/CB AI COINd.pid \
                            -conf=/etc/CB AI COIN/CB AI COIN.conf \
                            -datadir=/var/lib/CB AI COINd

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp CB AI COIN /etc/CB AI COIN

# Process management
####################

Type=forking
PIDFile=/run/CB AI COINd/CB AI COINd.pid
Restart=on-failure
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as CB AI COIN:CB AI COIN
User=CB AI COIN
Group=CB AI COIN

# /run/CB AI COINd
RuntimeDirectory=CB AI COINd
RuntimeDirectoryMode=0710

# /etc/CB AI COIN
ConfigurationDirectory=CB AI COIN
ConfigurationDirectoryMode=0710

# /var/lib/CB AI COINd
StateDirectory=CB AI COINd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
